$tagteam-default-blue: #544E8D;
$tagteam-default-red: #C53943;
$tagteam-default-yellow: #F4BE5A;
$tagteam-default-green: #4A978B;

$tagteam-default-white: #FFFFFF;
$tagteam-default-gray100: #F2F2F2;
$tagteam-default-gray200: #E0E0E0;
$tagteam-default-gray300: #BDBDBD;
$tagteam-default-gray400: #828282;
$tagteam-default-gray500: #4F4F4F;
$tagteam-default-gray600: #333333;
$tagteam-default-black: #0F0F0F;

$tagteam-default-success: #4A978B;
$tagteam-default-danger: #C53943;

$tagteam-default-serif: 'Domine', serif;
$tagteam-default-sans-serif: 'Lato', sans-serif;

body {
 display: flex;
 justify-content: center;
 align-items: center;
}

.container {
  width: 100%;
  height: 100vh;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  max-width: 600px;
}

h1 {
  font-family: $tagteam-default-serif;
  font-weight: 400;
  font-size: 2.5rem;
  margin: 0;
  text-align: center;
}

p {
  font-family: $tagteam-default-sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.logo {
  font-family: $tagteam-default-serif;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  margin: 0;
  cursor: default;

  &.big {
    font-size: 10vw;
  }

  &.med {
    font-size: 2.5rem;
  }

  &.smol {
    font-size: 1.8rem;
  }

  .logo-letter {
    position: relative;
    bottom: 0;
    transition: 50ms;

    &.blue {
      color: $tagteam-default-blue;
    }
    &.red {
      color: $tagteam-default-red;
    }
    &.yellow {
      color: $tagteam-default-yellow;
    }
    &.green {
      color: $tagteam-default-green;
    }
  }

  .logo-letter:hover {
    bottom: 10%;
  }
}

a:hover, a:active, a:focus, a:link {
  text-decoration: none;
}

a.button {
  min-width: 12.5rem;
  font-family: $tagteam-default-sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
  text-align: center;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  position: relative;
  bottom: 0;
  transition: 50ms;
  cursor: pointer;

  &.black {
    background-color: $tagteam-default-black;
    &:hover {
      background-color: lighten($tagteam-default-black, 20%);
    }
    &:active {
      background-color: $tagteam-default-black;
    }
  }

  &.blue {
    background-color: $tagteam-default-blue;
    &:hover {
      background-color: lighten($tagteam-default-blue, 20%);
    }
    &:active {
      background-color: $tagteam-default-blue;
    }
  }

  &.red {
    background-color: $tagteam-default-red;
    &:hover {
      background-color: lighten($tagteam-default-red, 20%);
    }
    &:active {
      background-color: $tagteam-default-red;
    }
  }

  &.yellow {
    background-color: $tagteam-default-yellow;
    &:hover {
      background-color: lighten($tagteam-default-yellow, 10%);
    }
    &:active {
      background-color: $tagteam-default-yellow;
    }
  }

  &.green {
    background-color: $tagteam-default-green;
    &:hover {
      background-color: lighten($tagteam-default-green, 20%);
    }
    &:active {
      background-color: $tagteam-default-green;
    }
  }

  &:hover {
    bottom: 0.3rem;
  }
}

a.linkbutton {
  font-family: $tagteam-default-sans-serif;
  font-weight: 600;
  font-size: 1rem;
  position: relative;
  bottom: 0;
  transition: 50ms;
  cursor: pointer;
  color: $tagteam-default-black;
  padding: 0.5rem 0;

  &:hover {
    bottom: 0.3rem;
    color: $tagteam-default-blue;
  }

  &:active {
    color: lighten($tagteam-default-blue, 20%);
  }
}

.input-tabs {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  width: 100%;
}

label {
  font-family: $tagteam-default-sans-serif;
}

.tab {
  // min-width: 6.25rem;
  width: 100%;
  font-family: $tagteam-default-sans-serif;
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
  border: 1px solid $tagteam-default-black;
  padding: 0.5rem 1rem;
  transition: 50ms;
  cursor: pointer;
  background-color: $tagteam-default-white;

  &.false {
    &.blue {
      color: $tagteam-default-blue;
      border: 1px solid $tagteam-default-blue;
      &:hover {
        background-color: lighten($tagteam-default-blue, 50%);
      }
    }
    &.red {
      color: $tagteam-default-red;
      border: 1px solid $tagteam-default-red;
      &:hover {
        background-color: lighten($tagteam-default-red, 45%);
      }
    }
    &.yellow {
      color: $tagteam-default-yellow;
      border: 1px solid $tagteam-default-yellow;
      &:hover {
        background-color: lighten($tagteam-default-yellow, 50%);
      }
    }
    &.green {
      color: $tagteam-default-green;
      border: 1px solid $tagteam-default-green;
      &:hover {
        background-color: lighten($tagteam-default-green, 50%);
      }
    }
  }
  &.true {
    &.blue {
      background-color: $tagteam-default-blue;
      color: $tagteam-default-white;
      border: 1px solid $tagteam-default-blue;
      &:hover {
        background-color: darken($tagteam-default-blue, 10%);
      }
    }
    &.red {
      background-color: $tagteam-default-red;
      color: $tagteam-default-white;
      border: 1px solid $tagteam-default-red;
      &:hover {
        background-color: darken($tagteam-default-red, 10%);
      }
    }
    &.yellow {
      background-color: $tagteam-default-yellow;
      color: $tagteam-default-white;
      border: 1px solid $tagteam-default-yellow;
      &:hover {
        background-color: darken($tagteam-default-yellow, 10%);
      }
    }
    &.green {
      background-color: $tagteam-default-green;
      color: $tagteam-default-white;
      border: 1px solid $tagteam-default-green;
      &:hover {
        background-color: darken($tagteam-default-green, 10%);
      }
    }
  }

}

.tabs {
  display: flex;
  border-radius: 5px;
  width: 100%;
  &.blue {
    border: 1px solid $tagteam-default-blue;
  }
  &.red {
    border: 1px solid $tagteam-default-red;
  }
  &.yellow {
    border: 1px solid $tagteam-default-yellow;
  }
  &.green {
    border: 1px solid $tagteam-default-green;
  }
}
